@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  //   height: 100vh;
  //   background-color: red;

  padding-bottom: 50px;

  .about-header {
    // background-color: red;
    display: flex;
    align-items: center;
    margin-top: 40px;
    // margin-left: 40px;
    height: 40px;
    width: 70%;
    border-left: 5px solid rgb(46, 65, 107);
    h1 {
      margin-left: 8px;
    }
  }
  .about-intro {
    display: flex;
    // background-color: green;
    // margin-left: 40px;
    width: 70%;
    .intro-holder {
      display: flex;
      width: 100%;
      //   background-color: yellow;
      font-size: 18px;
      font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      font-weight: 600;
    }
  }
  .skills-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: blue;
    margin-top: 100px;
    margin-bottom: 60px;
    // padding-right: 30px;
    // margin-right: 50px;
    .skills-container {
      display: flex;
      //   background-color: rgb(233, 233, 233);
      width: 100%;
      justify-content: center;
      //   max-width: 1600px;

      //   max-height: 350px;
    }
    .skill {
      display: flex;
      flex-direction: column;
      width: 240px;
      margin-right: 80px;
      //   background-color: green;
      margin-left: 20px;

      .skill-header {
        display: flex;
        // background-color: red;
        padding-left: 1px;
        height: 40px;
        width: 100%;

        img {
          height: 32px;
          width: 32px;
          border-radius: 4px;
        }
      }
    }
    .skill-name {
      display: flex;
      font-size: 22px;
      margin: 5px 0px;
      font-weight: 600;
      //   background-color: yellow;
    }
    .skill-description {
      display: flex;
      width: 100%;
      font-size: 17px;
      text-align: left;
      line-height: 1.2;
      //   background-color: orange;
    }
  }
  .about-outro {
    display: flex;
    // margin-left: 60px;

    width: 72%;
    // background-color: purple;
    padding: 0px 10px;
    .about-outro-text {
      display: flex;
      width: 100%;
      line-height: 1.4;
      margin-left: 16px;
      //   align-items: center;
      font-weight: 600;
    }
  }
  .technical-header {
    display: flex;
    width: 100%;
    // background-color: red;
    justify-content: center;
    background-color: rgb(23, 31, 49);
    color: white;
    margin-bottom: 40px;
    // margin-left: 20px;
    // border-left: 5px solid rgb(46, 65, 107);
    h1 {
      margin-left: 8px;
    }
  }
}

@media (max-width: 1320px) {
  .skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    // flex-direction: row;
    width: 50%;
    // margin-right: 30px;
    // flex: 2;
    align-items: center;
    .skill {
      //   margin-bottom: 25px;
    }
  }
}

@media (max-width: 1300px) {
  .about-main {
    .about-intro {
      margin: 0px;
      justify-content: center;
      width: 100%;
      .intro-holder {
        width: 70%;
        padding: 0px 5px;
        text-align: center;
      }
    }
    .about-outro {
      margin: 0px;
      justify-content: center;
      // width: 100%;
      align-items: stretch;
      .about-outro-text {
        width: 70%;
        display: flex;
        align-items: stretch;
        margin: 0px;
        padding: 0px 5px;
      }
    }
    .about-header {
      // justify-content: center;
      // width: 30%;
      // margin-left: 50px;
      // background-color: Red;
      //   margin: 0px;
      margin-bottom: 10px;
      width: 20%;
    }
  }
  .skills-main {
    justify-content: center;
    .technical-header {
      justify-content: center;
      border-left: none;
      background-color: grey;
      margin: 0px 0px 20px 0px;
      background-color: rgb(23, 31, 49);
      color: white;
      h1 {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 700px) {
  .about-main {
    .about-intro {
      margin: 0px;
      justify-content: center;
      width: 100%;
      .intro-holder {
        width: 100%;
        padding: 0px 5px;
        text-align: center;
      }
    }
    .about-outro {
      margin: 0px;
      justify-content: center;
      width: 100%;
      align-items: stretch;
      //   background-color: blue;
      .about-outro-text {
        width: 100%;
        display: flex;
        // background-color: red;
        align-items: stretch;
        margin: 0px;
        padding: 0px 10px;
      }
    }
    .about-header {
      // justify-content: center;
      // width: 30%;
      // margin-left: 50px;
      // background-color: Red;
      //   margin: 0px;
      margin-bottom: 10px;
      width: 50%;
    }
  }

  .skills-main {
    justify-content: center;
    .technical-header {
      justify-content: center;
      border-left: none;
      background-color: grey;
      margin: 0px 0px 20px 0px;
      background-color: rgb(23, 31, 49);
      color: white;
      h1 {
        margin-right: 10px;
      }
    }
    .skills-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: flex-start;
      // flex-direction: column;
      width: 50%;
      // margin-right: 30px;
      // flex: 2;
      .skill {
        //   margin-right: 0px;
        //   margin-left: 30px;
        margin-bottom: 40px;
        padding-bottom: 30px;
        // border-bottom: 1px solid black;
        margin: 0px;
      }
    }
  }
}
